.tran-container {
    display: flex;
    justify-content: center;
}

.objeto-transicion-1 {
    width: 200px;
    height: 200px;
    background-color: #00ffff;
    display: inline-block;
}

.objeto-transicion-2 {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    display: inline-block;
}

/* PRIMERA TRANSICION -------------------*/
.prueba-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition-delay: 4s;
}

.prueba-enter-active {
    opacity: 1;
    background-color: beige;
    transform: translateX(0);
    transition: all 200ms ease;
    display: inline;
}

.prueba-exit {
    opacity: 1;
    transform: translateX(0);
}

.prueba-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 200ms ease;
}

/* SEGUNDA TRANSICION -------------*/
.prueba2-enter {
    opacity: 0;
    transform: translateX(100%);
}

.prueba2-enter-active {
    opacity: 1;
    transform: translateX(0px);
    background-color: beige;
    transition: all 200ms ease;
}

.prueba2-exit {
    opacity: 1;
    transform: translateX(0);
}

.prueba2-exit-active {
    opacity: 0;
    transform: translateX(100%);
    background-color: brown;
    transition: all 200ms ease;
}